In [1]:
import pandas as pd
import requests

# Function to download data from a given URL
def download_data(url):
    try:
        response = requests.get(url)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print("An error occurred while downloading the data:", str(e))
        return None

# Function to process and structure the data
def process_data(data):
    if data is None:
        return None
    
    # Extract the required attributes from the data
    rows = []
    for meteorite in data:
        row = {
            "Name of Earth Meteorite": meteorite.get("name", ""),
            "id": meteorite.get("id", 0),
            "nametype": meteorite.get("nametype", ""),
            "recclass": meteorite.get("recclass", ""),
            "mass": float(meteorite.get("mass", 0.0)),
            "year": pd.to_datetime(meteorite.get("year", ""), errors="coerce"),
            "reclat": float(meteorite.get("reclat", 0.0)),
            "recclong": float(meteorite.get("reclong", 0.0)),
            "point coordinates": meteorite.get("geolocation", {}).get("coordinates", []),
        }
        rows.append(row)

    return rows

# Function to save the data as a CSV file
def save_as_csv(data, filename):
    if data is None:
        return
    
    try:
        df = pd.DataFrame(data)
        df.to_csv(filename, index=False)
        print("Data saved successfully as", filename)
    except Exception as e:
        print("An error occurred while saving the data as CSV:", str(e))

# Provide the URL to download the data
url = "https://data.nasa.gov/resource/y77d-th95.json"

# Download the data
data = download_data(url)

# Process the data
processed_data = process_data(data)

# Save the processed data as a CSV file
if processed_data:
    save_as_csv(processed_data, "earth_meteorites.csv")

Data saved successfully as earth_meteorites.csv

In [2]:
import pandas as pd

data = pd.read_csv('earth_meteorites.csv')
data.head()

,Name of Earth Meteorite,id,nametype,recclass,mass,year,reclat,recclong,point coordinates
0,Aachen,1,Valid,L5,21.0,1880-01-01,50.77500,6.08333,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720.0,1951-01-01,56.18333,10.23333,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000.0,1952-01-01,54.21667,-113.00000,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914.0,1976-01-01,16.88333,-99.90000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780.0,1902-01-01,-33.16667,-64.95000,"[-64.95, -33.16667]"